@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* navigator-toolbox */

#navigator-toolbox::after {
  content: "";
  display: -moz-box;
  -moz-box-ordinal-group: 101; /* tabs toolbar is 100 */
  height: 1px;
  background-color: var(--shadow-color);
}

#navigator-toolbox[tabsontop=false]::after,
#main-window[disablechrome] #navigator-toolbox::after {
  visibility: collapse;
}

@media not all and (-moz-windows-compositor) {
  #main-window[tabsintitlebar]:not([inFullscreen]) #toolbar-menubar[inactive] ~ #TabsToolbar:not(:-moz-lwtheme) {
    background: linear-gradient(bottom, rgba(10%,10%,10%,.4) 1px, transparent 1px),
                linear-gradient(rgba(50%,50%,50%,0), ActiveCaption 85%);
    color: CaptionText;
  }
  #main-window[tabsintitlebar]:not([inFullscreen]) #toolbar-menubar[inactive] ~ #TabsToolbar:not(:-moz-lwtheme):-moz-window-inactive {
    background: linear-gradient(bottom, rgba(10%,10%,10%,.4) 1px, transparent 1px),
                linear-gradient(rgba(50%,50%,50%,0), InactiveCaption 85%);
    color: InactiveCaptionText;
  }
  
  #main-window[tabsintitlebar] #titlebar:-moz-lwtheme {
    visibility: hidden;
  }
  #main-window[tabsintitlebar] #titlebar-content:-moz-lwtheme {
    -moz-binding: url("chrome://global/content/bindings/general.xml#windowdragbox");
    visibility: visible;
  }
}

@media not all and (-moz-os-version: windows-win10) {
  #main-window[tabsintitlebar] .tabbrowser-tab:not([selected]),
  #main-window[tabsintitlebar] .tabs-newtab-button{
    border-bottom: 1px solid ThreeDShadow;
  }
}

/* ::::: app menu button ::::: */

#appmenu-button {
  -moz-appearance: none;
  background-clip: padding-box;
  border-radius: 0 0 var(--appmenu-border-radius) var(--appmenu-border-radius);
  border: 1px solid;
  border-top: none;
  color: white;
  text-shadow: 0 0 1px rgba(0,0,0,.7),
               0 1px 1.5px rgba(0,0,0,.5);
  font-weight: bold;
  padding: 0 1.5em .05em;
  margin: 0 0 2px;
}

@media (-moz-windows-classic) {
  #appmenu-button {
    margin-bottom: 1px;
  }
}

#appmenu-button:hover:active,
#appmenu-button[open] {
  border-radius: 0;
}

#appmenu-button {
  background-image: linear-gradient(rgb(82,182,247), rgb(10,98,215) 95%);
  border-color: rgba(6,42,83,.9);
  box-shadow: 0 1px 0 rgba(255,255,255,.25) inset,
              0 0 0 1px rgba(255,255,255,.25) inset;
}
#appmenu-button:hover:not(:active):not([open]) {
  background-image: radial-gradient(farthest-side at bottom, rgba(89,240,252,.5) 10%, rgba(89,240,252,0) 70%),
                    radial-gradient(farthest-side at bottom, rgb(60,68,236), rgba(172,229,255,0)),
                    linear-gradient(rgb(69,170,246), rgb(30,40,209) 95%);
  border-color: rgba(6,42,83,.9);
  box-shadow: 0 1px 0 rgba(255,255,255,.1) inset,
              0 0 2px 1px rgba(169,234,250,.7) inset,
              0 -1px 0 rgba(169,234,250,.5) inset;
}
#appmenu-button:hover:active,
#appmenu-button[open] {
  background-image: linear-gradient(rgb(69,170,246), rgb(0,74,209) 95%);
  box-shadow: 0 2px 3px rgba(0,0,0,.4) inset,
              0 1px 1px rgba(0,0,0,.2) inset;
}

#main-window[privatebrowsingmode=temporary] #appmenu-button {
  background-image: linear-gradient(rgb(153,38,211), rgb(105,19,163) 95%);
  border-color: rgba(43,8,65,.9);
}

#main-window[privatebrowsingmode=temporary] #appmenu-button:hover:not(:active):not([open]) {
  background-image: radial-gradient(farthest-side at bottom, rgba(240,193,255,.5) 10%, rgba(240,193,255,0) 70%),
                    radial-gradient(farthest-side at bottom, rgb(192,81,247), rgba(236,172,255,0)),
                    linear-gradient(rgb(144,20,207), rgb(95,0,158) 95%);
  border-color: rgba(43,8,65,.9);
  box-shadow: 0 1px 0 rgba(255,255,255,.1) inset,
              0 0 2px 1px rgba(240,193,255,.7) inset,
              0 -1px 0 rgba(240,193,255,.5) inset;
}

#main-window[privatebrowsingmode=temporary] #appmenu-button:hover:active,
#main-window[privatebrowsingmode=temporary] #appmenu-button[open] {
  background-image: linear-gradient(rgb(144,20,207), rgb(95,0,158) 95%);
}

#appmenu-button > .button-box {
  border-style: none;
  padding: 0;
}

#appmenu-button > .button-box > .button-menu-dropmarker {
  list-style-image: url(chrome://browser/skin/appmenu-dropmarker.png);
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  margin-inline-start: .5em;
}

/* ::::: bookmark buttons ::::: */

toolbarbutton.bookmark-item {
  margin: 0;
  padding: 2px 3px;
}

toolbarbutton.bookmark-item:hover:active:not([disabled="true"]),
toolbarbutton.bookmark-item[open="true"] {
  padding-top: 3px;
  padding-bottom: 1px;
  padding-inline-start: 4px;
  padding-inline-end: 2px;
}

.bookmark-item:not(#bookmarks-menu-button) > .toolbarbutton-icon {
  width: 16px;
  height: 16px;
}


.bookmark-item > .toolbarbutton-text {
  display: -moz-box !important;
}

.bookmark-item > .toolbarbutton-menu-dropmarker {
  display: none;
}

/* Other-than-Aero specific */
@media not all and (-moz-windows-theme: aero) {
  @media all and (-moz-windows-default-theme) {
    #main-window[sizemode="normal"] #appmenu-button {
      margin-bottom: 5px;
    }
  }
  
}

/* Aero specific */
@media all and (-moz-windows-theme: aero) {
  /* Set the appmenu in, and give it a beveled look */
  #main-window[sizemode="normal"] > #titlebar > #titlebar-content > #appmenu-button-container {
    margin-top: 1px;
  }

  #appmenu-button {
    border-width: 2px;
    -moz-border-left-colors: var(--toolbar-highlight-top) rgba(83,42,6,.9);
    -moz-border-bottom-colors: var(--toolbar-highlight-top) rgba(83,42,6,.9);
    -moz-border-right-colors: var(--toolbar-highlight-top) rgba(83,42,6,.9);
    margin-bottom: 1px; /* compensate white outer border */
    box-shadow: 0 1px 0 rgba(255,255,255,.25) inset,
                0 0 2px 1px rgba(255,255,255,.25) inset;
  }

  #main-window[privatebrowsingmode=temporary] #appmenu-button {
    -moz-border-left-colors: var(--toolbar-highlight-top) rgba(43,8,65,.9);
    -moz-border-bottom-colors: var(--toolbar-highlight-top) rgba(43,8,65,.9);
    -moz-border-right-colors: var(--toolbar-highlight-top) rgba(43,8,65,.9);
  }

  #appmenu-popup {
    margin-top: -1px;
    margin-inline-start: 1px;
  }

  .panel-promo-message {
    font-style: italic;
  }

  #minimize-button:-moz-locale-dir(rtl),
  #restore-button:-moz-locale-dir(rtl),
  #close-button:-moz-locale-dir(rtl) {
    -moz-transform: scaleX(-1);
  }
}

/* Aero+glass specific */
@media all and (-moz-windows-compositor) {
  #main-window {
	background-color: transparent;
    -moz-appearance: -moz-win-glass;
  }

  /* On win 10, if we don't set this on the entire browser container, including
   * the sidebar, then the accent color bleeds through in the titlebar
   * if the sidebar is open. */
  #browser {
    -moz-appearance: -moz-win-exclude-glass;
  }

/* ==== Windows 10 styling ==== */

@media (-moz-os-version: windows-win10) {
  /* Draw XUL caption buttons and background on Win10 */
  @media (-moz-windows-accent-color-applies: 0) {
    /* Default styling for when no accent color is applied */
    #main-window:not(:-moz-window-inactive):not(:-moz-lwtheme) {
      background-color: white;
    }
    
    :root:not(:-moz-window-inactive):not(:-moz-lwtheme) {
      --window-text-color: black;
    }
    
    #titlebar-min:not(:-moz-window-inactive):not(:-moz-lwtheme) {
      list-style-image: url(chrome://browser/skin/caption-buttons.svg#minimize);
    }

    #titlebar-max:not(:-moz-window-inactive):not(:-moz-lwtheme) {
      list-style-image: url(chrome://browser/skin/caption-buttons.svg#maximize);
    }

    #main-window[sizemode="maximized"] #titlebar-max:not(:-moz-window-inactive):not(:-moz-lwtheme) {
      list-style-image: url(chrome://browser/skin/caption-buttons.svg#restore);
    }
    
    #titlebar-close:not(:-moz-window-inactive):not(:-moz-lwtheme) {
      list-style-image: url(chrome://browser/skin/caption-buttons.svg#close);
    }

    .titlebar-button:not(#titlebar-close):not(:-moz-window-inactive):not(:-moz-lwtheme):hover {
      background-color: hsla(0, 0%, 0%, .17);
    }

    .titlebar-button:not(#titlebar-close):not(:-moz-window-inactive):not(:-moz-lwtheme):hover:active	{
      background-color: hsla(0, 0%, 0%, .27);
      transition: none;
    }
    
    #titlebar-close:not(:-moz-window-inactive):not(:-moz-lwtheme):hover {
      list-style-image: url(chrome://browser/skin/caption-buttons.svg#close-white);
      background-color: hsla(0, 86%, 49%, 1);
    }

    #titlebar-close:not(:-moz-window-inactive):not(:-moz-lwtheme):hover:active	{
      background-color: hsla(0, 60%, 49%, 0.6);
      transition: none;
    }
  }
  
  @media (-moz-windows-accent-color-applies) {
    /* Styling for when an accent color is applied to the titlebar */
    #main-window:not(:-moz-window-inactive):not(:-moz-lwtheme) {
      background-color: -moz-win-accentcolor;
    }
    
    :root:not(:-moz-window-inactive):not(:-moz-lwtheme) {
      --window-text-color: -moz-win-accentcolortext;
    }
    
    #titlebar-min {
      list-style-image: url(chrome://browser/skin/caption-buttons.svg#minimize);
    }

    #titlebar-max {
      list-style-image: url(chrome://browser/skin/caption-buttons.svg#maximize);
    }

    #main-window[sizemode="maximized"] #titlebar-max {
      list-style-image: url(chrome://browser/skin/caption-buttons.svg#restore);
    }

    #titlebar-close {
      list-style-image: url(chrome://browser/skin/caption-buttons.svg#close);
    }
    
    .titlebar-button:hover {
      background-color: hsla(0, 0%, 0%, .17);
    }

    .titlebar-button:hover:active {
      background-color: hsla(0, 0%, 0%, .27);
      transition: none;
    }
    
    @media (-moz-windows-accent-color-is-dark) {
      /* dark accent color */
      #titlebar-min {
        list-style-image: url(chrome://browser/skin/caption-buttons.svg#minimize-white);
      }

      #titlebar-max {
        list-style-image: url(chrome://browser/skin/caption-buttons.svg#maximize-white);
      }

      #main-window[sizemode="maximized"] #titlebar-max {
        list-style-image: url(chrome://browser/skin/caption-buttons.svg#restore-white);
      }

      #titlebar-close {
        list-style-image: url(chrome://browser/skin/caption-buttons.svg#close-white);
      }
    
      .titlebar-button:not(#titlebar-close):not(:-moz-window-inactive):not(:-moz-lwtheme):hover {
        background-color: hsla(0, 0%, 100%, .17);
      }

      .titlebar-button:not(#titlebar-close):not(:-moz-window-inactive):not(:-moz-lwtheme):hover:active	{
        background-color: hsla(0, 0%, 100%, .27);
        transition: none;
      }
    
      #titlebar-close:not(:-moz-window-inactive):not(:-moz-lwtheme):hover {
        background-color: hsla(0, 86%, 49%, 1);
      }

      #titlebar-close:not(:-moz-window-inactive):not(:-moz-lwtheme):hover:active	{
        background-color: hsla(0, 60%, 39%, 1);
        transition: none;
      }
    }
  }
  
  #main-window:-moz-window-inactive:not(:-moz-lwtheme) {
    background-color: hsl(0, 0%, 90%);
  }

  #titlebar-buttonbox,
  .titlebar-button {
    -moz-appearance: none !important;
  }

  .titlebar-button {
    border: none;
    margin: 0 0 1px 0 !important;
    padding: 9px 17px;
    transition: background-color linear 120ms;
  }
      
  #main-window[sizemode="maximized"][tabsontop=true] #tabbrowser-tabs {
    min-height: 28px;
  }

  #main-window[sizemode=maximized]:not([tabsontop="true"]) .titlebar-button {
    padding-top: 7px;
    padding-bottom: 5px;
  }
  
  #main-window[sizemode="maximized"][tabsontop="true"] .titlebar-button {
    padding-top: 6px;
    padding-bottom: 6px;
    margin-bottom: 5px !important;
  }

  .titlebar-button > .toolbarbutton-icon {
    width: 12px;
    height: 12px;
  }

  .titlebar-button:not(:hover) > .toolbarbutton-icon:-moz-window-inactive {
    opacity: 0.5;
  }

  #main-window[chromemargin^="0,"][sizemode=normal] #navigator-toolbox {
    margin-top: -4px;
  }

  #main-window[sizemode="maximized"] #titlebar-close {
    padding-right: 19px;
  }
  
  #titlebar-close:hover {
    list-style-image: url(chrome://browser/skin/caption-buttons.svg#close-white);
    background-color: hsla(0, 86%, 49%, 1);
    transition: background-color linear 160ms;
  }

  #titlebar-close:hover:active {
    background-color: hsla(0, 86%, 49%, 0.6); 
    transition: none;
  }
  
  /* inactive window */

  #titlebar-min:-moz-window-inactive:not(:-moz-lwtheme) {
    list-style-image: url(chrome://browser/skin/caption-buttons.svg#minimize);
  }

  #titlebar-max:-moz-window-inactive:not(:-moz-lwtheme) {
    list-style-image: url(chrome://browser/skin/caption-buttons.svg#maximize);
  }

  #main-window[sizemode="maximized"] #titlebar-max:-moz-window-inactive:not(:-moz-lwtheme) {
    list-style-image: url(chrome://browser/skin/caption-buttons.svg#restore);
  }

  #titlebar-close:-moz-window-inactive:not(:-moz-lwtheme):not(:hover) {
    list-style-image: url(chrome://browser/skin/caption-buttons.svg#close);
  }
  
  .titlebar-button:-moz-window-inactive:not(:-moz-lwtheme):hover {
    background-color: hsla(0, 0%, 0%, .17);
  }

  .titlebar-button:-moz-window-inactive:not(:-moz-lwtheme):hover:active {
    background-color: hsla(0, 0%, 0%, .27);
    transition: none;
  }
  
  /* light persona */
  
  .titlebar-button:-moz-lwtheme-darktext:hover {
    background-color: hsla(0, 0%, 0%, .17);
  }

  .titlebar-button:-moz-lwtheme-darktext:hover:active {
    background-color: hsla(0, 0%, 0%, .27);
    transition: none;
  }
  
  #titlebar-min:-moz-lwtheme-darktext {
    list-style-image: url(chrome://browser/skin/caption-buttons.svg#minimize-darktext);
  }

  #titlebar-max:-moz-lwtheme-darktext {
    list-style-image: url(chrome://browser/skin/caption-buttons.svg#maximize-darktext);
  }

  #main-window[sizemode="maximized"]:-moz-lwtheme-darktext #titlebar-max:-moz-lwtheme-darktext {
    list-style-image: url(chrome://browser/skin/caption-buttons.svg#restore-darktext);
  }

  #titlebar-close:-moz-lwtheme-darktext {
    list-style-image: url(chrome://browser/skin/caption-buttons.svg#close-darktext);
  }
  #titlebar-close:hover:-moz-lwtheme-darktext {
    list-style-image: url(chrome://browser/skin/caption-buttons.svg#close-darktext);
  }
      
  /* dark persona */
  
  .titlebar-button:-moz-lwtheme-brighttext:hover {
    background-color: hsla(0, 0%, 100%, .27);
  }

  .titlebar-button:-moz-lwtheme-brighttext:hover:active {
    background-color: hsla(0, 0%, 100%, .37);
    transition: none;
  }
  
  #titlebar-min:-moz-lwtheme-brighttext {
    list-style-image: url(chrome://browser/skin/caption-buttons.svg#minimize-themes);
  }

  #titlebar-max:-moz-lwtheme-brighttext {
    list-style-image: url(chrome://browser/skin/caption-buttons.svg#maximize-themes);
  }

  #main-window[sizemode="maximized"]:-moz-lwtheme-brighttext #titlebar-max:-moz-lwtheme-brighttext {
    list-style-image: url(chrome://browser/skin/caption-buttons.svg#restore-themes);
  }

  #titlebar-close:-moz-lwtheme-brighttext {
    list-style-image: url(chrome://browser/skin/caption-buttons.svg#close-themes);
  }
  #titlebar-close:hover:-moz-lwtheme-brighttext {
    list-style-image: url(chrome://browser/skin/caption-buttons.svg#close-themes);
  }
      
  /* the 12px image renders a 10px icon, and the 10px upscaled gets rounded to 12.5, which
   * rounds up to 13px, which makes the icon one pixel too big on 1.25dppx. Fix: */
  @media (min-resolution: 1.20dppx) and (max-resolution: 1.45dppx) {
    .titlebar-button > .toolbarbutton-icon {
      width: 11.5px;
      height: 11.5px;
    }
  }

  /* 175% dpi should result in the same device pixel sizes as 150% dpi. */
  @media (min-resolution: 1.70dppx) and (max-resolution: 1.95dppx) {
    .titlebar-button {
      padding-left: 14.1px;
      padding-right: 14.1px;
    }

    .titlebar-button > .toolbarbutton-icon {
      width: 10.8px;
      height: 10.8px;
    }
  }

  /* 225% dpi should result in the same device pixel sizes as 200% dpi. */
  @media (min-resolution: 2.20dppx) and (max-resolution: 2.45dppx) {
    .titlebar-button {
      padding-left: 15.3333px;
      padding-right: 15.3333px;
    }

    .titlebar-button > .toolbarbutton-icon {
      width: 10.8px;
      height: 10.8px;
    }
  }

  /* 275% dpi should result in the same device pixel sizes as 250% dpi. */
  @media (min-resolution: 2.70dppx) and (max-resolution: 2.95dppx) {
    .titlebar-button > .toolbarbutton-icon {
      width: 10.8px;
      height: 10.8px;
    }
  }
    
  #appmenu-button {
    margin-top: -1px;
    margin-bottom: 5px;
  }    
}

/* ==== Windows Vista/7/8 styling ==== */

  @media (-moz-os-version: windows-vista),
         (-moz-os-version: windows-win7),
         (-moz-os-version: windows-win8) {
    /* Make sure the native margins are correct on Win Vista/7/8.
     * We can't use -moz-win-glass there because the border sizing would
     * not be correct. */
    #main-window {
      -moz-appearance: -moz-win-borderless-glass;
    }
    
    /* These should be hidden w/ glass enabled. Windows draws its own buttons. */
    .titlebar-button {
      display: none;
    }

    /* The borders on the glass frame are ours, and inside #browser, and on
     * vista and win7 we want to make sure they are "glassy", so we can't use
     * #browser as the exclude-glass container. We use #appcontent instead. */
    #browser {
      -moz-appearance: none;
    }

    #appcontent {
      -moz-appearance: -moz-win-exclude-glass;
    }

    #main-window[chromemargin^="0,"][sizemode=normal] #navigator-toolbox {
      margin-top: -7px;
    }

    /* Artificially draw window borders that are covered by lwtheme, see bug 591930. */
    #main-window[sizemode="normal"] > #titlebar > #titlebar-content:-moz-lwtheme {
      border-top: 2px solid;
      -moz-border-top-colors: rgb(37, 44, 51) rgba(255,255,255,.6);
    }

    #main-window[sizemode="normal"] > #titlebar > #titlebar-content:-moz-lwtheme:-moz-window-inactive {
      -moz-border-top-colors: rgb(102, 102, 102) rgba(255,255,255,.6);
    }

    #main-window[sizemode="normal"] > #titlebar > #titlebar-content > #appmenu-button-container:-moz-lwtheme {
      margin-top: -1px;
    }

    #main-window[sizemode="normal"] #titlebar-buttonbox:-moz-lwtheme {
      margin-top: -2px;
    }

    #appmenu-button {
      margin-bottom: -1px; 
    }
  }
  
  @media (-moz-os-version: windows-win8) {
    :root[darkwindowframe="true"]:not(:-moz-window-inactive):not(:-moz-lwtheme) {
      --window-text-color: white;
    }
  }
    
  @media (-moz-os-version: windows-vista),
         (-moz-os-version: windows-win7) {
    /* Make the menu toolbar and tabs toolbar transparent in Aero+glass IIF tabs are on top and menu toolbar is autohidden */
    #main-window[sizemode="maximized"] #navigator-toolbox[tabsontop="true"],
    #main-window[sizemode="maximized"] #navigator-toolbox[tabsontop="true"] > #toolbar-menubar[autohide="true"],
    #main-window[sizemode="maximized"] #navigator-toolbox[tabsontop="true"] > #toolbar-menubar[autohide="true"] ~ #TabsToolbar {
      background: transparent;
    }
    
    #main-window[sizemode="maximized"] #navigator-toolbox[tabsontop="true"] > #toolbar-menubar[autohide="true"],
    #main-window[sizemode="maximized"] #navigator-toolbox[tabsontop="true"] > #toolbar-menubar[autohide="true"] ~ #TabsToolbar {
      /* Give text an aura to make it more readable on glass */
      text-shadow: 0 0 .5em white, 0 0 .5em white, 0 0 .5em white, 0 0 .5em white, 0 1px 0 rgba(255,255,255,.4);
    }
    
    #main-window[sizemode="maximized"] #navigator-toolbox[tabsontop="true"] > #toolbar-menubar[autohide="true"] #main-menubar:not(:-moz-lwtheme):not(:-moz-window-inactive) {
      background-color: rgba(255,255,255,.5);
      border-radius: 4px;
    }
  }
  
  @media (-moz-os-version: windows-win8),
         (-moz-os-version: windows-win10) {
    /* Make the menu toolbar and tabs toolbar transparent in Aero+glass IIF tabs are on top and menu toolbar is autohidden */
    #main-window[sizemode="maximized"] #navigator-toolbox[tabsontop="true"],
    #main-window[sizemode="maximized"] #navigator-toolbox[tabsontop="true"] > #toolbar-menubar[autohide="true"],
    #main-window[sizemode="maximized"] #navigator-toolbox[tabsontop="true"] > #toolbar-menubar[autohide="true"] ~ #TabsToolbar {
      background: transparent;
      color: var(--window-text-color);
    }
    
    #main-menubar > menu:not(:-moz-lwtheme) {
      color: inherit; /* allow menubar items to be styled */
    }
    
    #main-window[sizemode="maximized"] #navigator-toolbox[tabsontop="true"] > #toolbar-menubar[autohide="true"] #main-menubar:not(:-moz-lwtheme):not(:-moz-window-inactive) {
      background-color: transparent !important;
    }
  }
  
  @media (-moz-os-version: windows-win10) {
    /* Fix tab borders in tabsintitlebar mode */
    #main-window[tabsintitlebar] .tabbrowser-tab:not([selected]):not(:-moz-lwtheme),
    #main-window[tabsintitlebar] .tabs-newtab-button:not(:-moz-lwtheme) {
      border-bottom: 1px solid ThreeDShadow;
    }
    
    #main-window[tabsintitlebar] #TabsToolbar {
      margin-top: -2px !important;
    }
  }
    
  #main-window[sizemode=fullscreen]:not(:-moz-lwtheme) {
    -moz-appearance: none;
    background-color: #556;
  }

  /* Show toolbar borders on vista through win8, but not on win10 and later: */
  @media (-moz-os-version: windows-vista),          
  (-moz-os-version: windows-win7),          
  (-moz-os-version: windows-win8) {
     /* Vertical toolbar border */
    #main-window[sizemode=normal] #navigator-toolbox:not(:-moz-lwtheme) {
      border-left: 1px solid rgba(10%,10%,10%,.4);
      border-right: 1px solid rgba(10%,10%,10%,.4);
      background-clip: padding-box;
    }
  
    #main-window[sizemode=normal] #browser-border-start,
    #main-window[sizemode=normal] #browser-border-end {
      display: -moz-box;
      background-color: rgba(10%,10%,10%,.4);
      width: 1px;
    }
    #main-window[sizemode=normal] #browser-bottombox {
      border: 1px solid rgba(10%,10%,10%,.4);
      border-top-style: none;
    }
	#main-window[sizemode="maximized"] #navigator-toolbox[tabsontop="true"] > #toolbar-menubar[autohide="true"] #main-menubar:not(:-moz-lwtheme):not(:-moz-window-inactive) {
      background-color: var(--toolbar-highlight-top);
      border-radius: 4px;
    }
  }
  /* Top inner border */
  #main-window:not([tabsintitlebar]):not([inFullscreen]) #navigator-toolbox:not(:-moz-lwtheme) {
    border-top: 1px solid rgba(10%,10%,10%,.4);
    -moz-border-top-colors: none;
  }

  /* Make the window draggable by glassed toolbars (bug 555081) */
  #toolbar-menubar:not([autohide="true"]),
  #TabsToolbar[tabsontop="true"],
  #navigator-toolbox[tabsontop="false"] > #nav-bar,
  #nav-bar + #customToolbars + #PersonalToolbar[collapsed="true"] + #TabsToolbar[tabsontop="false"]:last-child,
  #navigator-toolbox > toolbar:not(#toolbar-menubar):-moz-lwtheme {
    -moz-binding: url("chrome://global/content/bindings/toolbar.xml#toolbar-drag");
  }

  #main-window[sizemode="maximized"] #navigator-toolbox[tabsontop="true"] > #toolbar-menubar[autohide="true"] #main-menubar:not(:-moz-lwtheme):not(:-moz-window-inactive) {
    background-color: var(--toolbar-highlight-top);
    border-radius: 4px;
  }

  #appcontent:not(:-moz-lwtheme) {
    background-color: var(--dialog-color);
  }

  #browser-bottombox:not(:-moz-lwtheme) {
    background-color: var(--dialog-color);
    background-clip: padding-box;
  }

  #urlbar,
  .searchbar-textbox {
    background-color: rgba(255,255,255,.725);
    border-color: rgba(0,0,0,.32);
    color: black;
  }

  html|*.urlbar-input:-moz-placeholder,
  .searchbar-textbox > .autocomplete-textbox-container > .textbox-input-box > html|*.textbox-input:-moz-placeholder {
    color: #777;
  }

  #urlbar:hover,
  .searchbar-textbox:hover {
    background-color: rgba(255,255,255,.898);
  }

  #urlbar[focused="true"],
  .searchbar-textbox[focused="true"] {
    background-color: white;
  }

  .tabbrowser-tab:not(:-moz-lwtheme) {
    text-shadow: none;
  }

  #main-window[sizemode=normal] .statuspanel-inner {
    /* align with the browser's side borders */
    padding-left: 1px;
    padding-right: 1px;
  }

  #allTabs-panel,
  #ctrlTab-panel {
    border-radius: 0;
    border: none;
    font: normal 1.2em "Segoe UI";
    color: black;
    text-shadow: white -1px -1px .35em, white -1px 1px .35em, white 1px 1px .35em, white 1px -1px .35em;
  }

  #tab-view:-moz-lwtheme {
    background-image: url("chrome://browser/skin/tabview/grain.png"),
                      linear-gradient(var(--toolbar-highlight-bottom), #CCD9EA 200px, #C7D5E7);
    background-attachment: fixed;
  }
}
