
/* Toolbar */
#placesToolbar {
  -moz-appearance: none;	
  min-height: 36px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-inline-start: 6px;
  padding-inline-end: 8px;
  background: url("chrome://global/skin/icons/mediabar.png") repeat-x;
  color: white;
}

#placesToolbox {
  padding-top: 0;
}

/* back & forward buttons */
#back-button, #forward-button {
  list-style-image: url(libraryNavigation.png);
  -moz-appearance: none;
  padding: 0;
  border: none;
}

#placesToolbar > toolbarbutton > .toolbarbutton-icon,
#placesToolbar > toolbarbutton > .toolbarbutton-text {
  margin: 0;
  padding: 0;
}

#back-button,
#forward-button:-moz-locale-dir(rtl) {
  -moz-image-region: rect(0px, 24px, 24px, 0px);
}
#back-button:not([disabled="true"]):hover,
#forward-button:not([disabled="true"]):hover:-moz-locale-dir(rtl) {
  -moz-image-region: rect(24px, 24px, 48px, 0px);
}
#back-button[disabled="true"],
#forward-button:-moz-locale-dir(rtl)[disabled="true"] {
  -moz-image-region: rect(48px, 24px, 72px, 0px) !important;
}
#back-button:not([disabled="true"]):hover:active,
#forward-button:not([disabled="true"]):hover:active:-moz-locale-dir(rtl) {
  -moz-image-region: rect(72px, 24px, 96px, 0px);
}

#forward-button,
#back-button:-moz-locale-dir(rtl) {
  -moz-image-region: rect(0px, 48px, 24px, 24px);
}
#forward-button:not([disabled="true"]):hover,
#back-button:not([disabled="true"]):hover:-moz-locale-dir(rtl) {
  -moz-image-region: rect(24px, 48px, 48px, 24px);
}
#forward-button[disabled="true"],
#back-button:-moz-locale-dir(rtl)[disabled="true"] {
  -moz-image-region: rect(48px, 48px, 72px, 24px) !important;
}
#forward-button:not([disabled="true"]):hover:active,
#back-button:not([disabled="true"]):hover:active:-moz-locale-dir(rtl) {
  -moz-image-region: rect(72px, 48px, 96px, 24px);
}

/* Menu */
#placesMenu {
  margin-inline-start: 8px;
  -moz-appearance: none;
  border: none;
}

#placesMenu > menu {
  padding-inline-start: 4px;
  padding-inline-end: 1px;
  padding-top: 2px;
  padding-bottom: 2px;
  -moz-appearance: toolbarbutton;
  color: white;
  border: 1px solid transparent;
}

#placesMenu > menu[_moz-menuactive="true"] {
  background-color: transparent;
}

#placesMenu > menu:hover {
  border-color: ThreeDHighlight ThreeDShadow ThreeDShadow ThreeDHighlight;
}

#placesMenu > menu[open="true"] {
  border-color: ThreeDShadow ThreeDHighlight ThreeDHighlight ThreeDShadow;
  padding-inline-start: 5px;
  padding-inline-end: 0px;
  padding-top: 3px;
  padding-bottom: 1px;
}

#placesMenu > menu > .menubar-text {
  padding-inline-end: 8px;
  background: url(chrome://global/skin/arrow/arrow-dn.gif) right center no-repeat;
}

#placesMenu > menu > .menubar-text:-moz-locale-dir(rtl) {
  background-position: left center;
}

/* organize, view and maintenance buttons icons */
#organizeButton,
#viewMenu,
#maintenanceButton {
  list-style-image: url("chrome://browser/skin/places/libraryToolbar.png");
}

#organizeButton {
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}

#viewMenu {
  -moz-image-region: rect(0px, 32px, 16px, 16px);
}

#maintenanceButton {
  -moz-image-region: rect(0px, 48px, 16px, 32px);
}

/* Root View */
#placesView {
  border-top: 1px solid ThreeDDarkShadow;
}

/* Place List, Place Content */
.placesTree {
  margin: 0px;
}

#placesList {
  -moz-appearance: none;
  margin: 0px;
  border: none;
  padding: 0;
}

#placeContent {
  -moz-appearance: none;
  border: 0px;
}

#infoPaneBox {
  border-top: 1px solid ThreeDShadow;
  padding: 5px;
}

.small, .small[disabled="true"] {
  min-width: 0px;
  padding: 0px 4px 0px 4px;
  margin: 0px;
  border: 0px;
}

.small .button-text,
.small .button-box {
  padding: 0px;
  border: 0px;
}

#infoBoxExpanderLabel {
  padding-inline-start: 2px;
}

#organizerScopeBar {
  -moz-appearance: toolbox;
  padding: 2px 0;
  padding-inline-end: 3px;
}

#organizerScopeBar > toolbarbutton {
  -moz-appearance: none;
  border: 1px solid transparent;
  border-radius: 2px;
  padding: 0 !important;
  margin: 0 1px;
}

#organizerScopeBar > toolbarbutton > .toolbarbutton-icon {
  padding: 0;
  margin: 0;
}

#organizerScopeBar > toolbarbutton > .toolbarbutton-text {
   margin: 0;
   padding: 2px 5px;
}

#organizerScopeBar > toolbarbutton:not([disabled="true"]):not([checked="true"]):hover {
  border-color: ThreeDShadow;
}

#organizerScopeBar > toolbarbutton[checked="true"] {
  border-color: ThreeDDarkShadow !important;
}

#placesView {
  border-top: none;
}

#placesView > splitter {
  border: 0;
  border-inline-end: 1px solid;
  -moz-border-right-colors: #A9B7C9;
  -moz-border-left-colors: #A9B7C9;
  min-width: 0;
  width: 3px !important;
  background-color: transparent;
  margin-inline-start: -3px;
  position: relative;
  z-index: 10;
}

#searchModifiers {
  border-bottom: 1px solid #A9B7C9;
}

#organizerScopeBar {
  -moz-appearance: none;
  border: none;
}

#infoPaneBox {
  border-top-color: #A9B7C9;
}

#placesView,
#searchModifiers,
#infoPane,
#placesList,
#placeContent {
  background-color: #EEF3FA;
}

/**** Vista default theme: Library's search box needs to be vertically centered ****/
#searchFilter {
  padding-top: 3px;
  padding-bottom: 2px;
  min-height: 22px;
  -moz-appearance: none;
  border-width: 1px;
  -moz-border-top-colors: ThreeDShadow;
  -moz-border-bottom-colors: ThreeDShadow;
  -moz-border-right-colors: ThreeDShadow;
  -moz-border-left-colors: ThreeDShadow;
}

/* Info box */
#detailsDeck {
  border-top: 1px solid ThreeDShadow;
  padding: 5px;
}

#infoBoxExpanderLabel {
  padding-inline-start: 2px;
}

#searchFilter {
  margin: 0;
}

/**
 * Downloads pane
 */

#clearDownloadsButton > .toolbarbutton-icon {
  display: none;
}

#clearDownloadsButton {
  padding-inline-start: 9px;
  padding-inline-end: 9px;
  color: white;
}